#about .small-text{margin: 0 2rem;}
#about .con-title {margin-right: 3rem;}
#about .full-list .link{}
#about .lst-con{position: relative;}

#about .lst-con.left{height: 45rem;}
#about .figure,#about .img-box{/* max-width: 35rem; *//* width: 100%; */min-width: 34rem;}
#about .img-box{background:rgba(255,255,255,0.4); border-radius: 2rem; overflow: hidden; transition: all 0.3s;}
#about .img-box img{position: absolute;/* bottom: -1rem; */top: 0;width: 100%;margin: 0 auto;height: 100%;left: 50%;transform: translateX(-50%);}

#about .figure{border:transparent;height: 100%;}
#about .figure .img-box{position: relative;height: 100%;}
#about .figure .img-box + strong {padding: 1rem;border :1px solid #fff;border-radius: 1rem;width: 100%;margin-top: 1rem;font-size: 1.5rem;display: inline-block;}

#about .figure:hover .img-box ,#about .figure:focus .img-box{background:rgba(255,255,255,1) }
#about .figure:hover .img-box  + strong  ,#about .figure:focus .img-box  + strong {background:rgba(255,255,255,1);color:#000 }


#real-photo{opacity: 0;visibility: hidden; position: absolute;left: 0; top: 0;}
#real-photo.active{opacity: 1;visibility: visible;}


#about .lst-con.right{padding: 5rem; flex:1}
#about .info-row{align-items:flex-start;}
#about .info-row .con-title{min-width: 6rem;}

#about .info-row .desc{flex:1}
#about .info-row .desc-title{white-space:nowrap;}
#about .info-row .desc-title ~ span{margin-right: 2rem;}

/* personal-info */
#about .personal-info .desc > li {margin-right: 3rem; display: inline-block;}
/* career */
#about .info-row:not(:first-of-type) .desc-title{min-width:24rem;}
/* first-of-type 과 fist-child 차이점 */
#about .info-row:not(:first-of-type) .desc > li {display: flex; margin: .5rem 0 1rem 0 ; align-items: flex-start;}
