

#contact .skip-card{
    position:relative;
    left: auto;
    top:auto;
    width: 100%;
    height: 40rem;
    justify-content: space-between;
    }
#contact .skip-card .link{height: 100%; border-style: solid;
border-width: 6px;
border-color: transparent;
transform: translateY(0);
transition :all 0.3s;


}
#contact .skip-card .first-card{background-color: #FFC309; }

#contact .skip-card .second-card{ background-color: #F5CBCB;}

#contact .skip-card .third-card{  background-color: #CDE7B8;}


#contact .skip-card .link:hover
,#contact .skip-card .link:focus{
    border-color:#fff;transform: translateY(-5rem);
}

#contact .skip-card .bg{
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);}
#contact .skip-card .bg.bg01{background-image: url("../../img/contact/kakao.png");}
#contact  .skip-card .bg.bg02{background-image: url("../../img/contact/email_p.png");}
#contact  .skip-card .bg.bg03{background-image: url("../../img/contact/call_b.png"); background-size: contain; }