
#portfolio{}
#portfolio .full-list{}
#portfolio .full-list .link{justify-content: space-between;gap: 2rem;}
#portfolio .full-list .lst-con.right{max-width: 46rem;align-self: flex-start;}
#portfolio .desc{margin-top: 4rem;}
#portfolio .desc-title{margin: 1rem 0 0.5rem 0;display: block;}

#portfolio .skill{display:flex;flex-wrap: wrap; gap:1rem; }
#portfolio .skill li{background-color: #f1f1f1; border-radius: 1rem; height: 100%; width: 8rem; height: 8rem;}
#portfolio .skill-icon{width: 100%; height: 100%;}
@media screen and (max-width:980px) {

    #portfolio .full-list .link{flex-direction: column;}
    #portfolio .full-list .lst-con.right{order: 1; align-self:center}
    /* #portfolio .full-list .lst-con.right{max-width: 30rem;display: inline-flex;align-items: center;} */
    #portfolio .full-list .lst-con.left{order: 2;}
    
}

@media screen and (max-width: 768px) {
    #portfolio .full-list .link{padding: 3rem 0;}

.full-list .link-title{    font-size: 2.5rem;}
 #portfolio .desc{margin-top: 2rem;}   
}

@media screen and (max-width: 640px) {
    #portfolio .full-list .link{flex-direction: column;}
    #portfolio .full-list .lst-con.right{max-width: 100%;}
 
}

@media screen and (max-width: 360px) {
    #portfolio .full-list  .tultip{width: 100%; text-align: center; margin: 1rem 0;}
 
}