
#portfolio{}
#portfolio .full-list{}
#portfolio .full-list .link{    justify-content: space-between;}
#portfolio .full-list .lst-con.right{max-width: 46rem;}
#portfolio .desc{margin-top: 4rem;}
#portfolio .desc-title{margin: 2rem 0 1rem 0;}



