:root{
    --header-height:8rem;
    --header-font-size: clamp(2rem, 2vw + 1rem, 2.5rem);  /* 20px ~ 30px */
    --body-font-size: clamp(1.4rem, 1vw + 0.5rem, 2rem); /* 14px ~ 20px */
    --footer-font-size: clamp(1rem, 0.5vw + 0.5rem, 1.6rem); /* 10px ~ 16px */
    --gnb-gap:clamp(3rem,1vw + 0.5rem, 4rem);
    --layout-padding:0 6rem;
    --full-max-with:1920px;
}

@media (max-width: 1100px) {
    :root {
        --layout-padding:0 3rem;

    }
}
@media (max-width: 768px) {
    :root {
        --header-height: 7rem; 

    }
}

@media (max-width: 400px) {
    :root {
        --layout-padding:0 2rem;

    }
}


*{
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    word-break: keep-all;
    margin: 0;padding: 0;
}
html,body{display:block; position: relative; width: 100%; min-height: 100vh; }
html{background: rgba(0,0,0,0.8); 
    font-size: 62.5%;  /* 1rem = 10px 기준설정값  */ }
body{
    max-width: var(--full-max-with);
    margin: 0 auto;
    font-size: var(--body-font-size);
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif; color:#fff}
main{}

.gmarketSans{ font-family: 'GMarketSans';font-weight: 300;}
.pretendard{font-family: 'Pretendard';font-weight: 400;}



/* skip-menu */
#skip-menu{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 999999;
}
#skip-menu .skip-link{position:absolute; top:-100px; left: 0; padding: 20px; background-color: #fff;white-space: nowrap;}
#skip-menu .skip-link:focus{ position:absolute;  top:0}

.sr-only{
position: absolute;
display: inline-block;
width: 1px;
height: 1px;
padding: 0;
  margin: -1px; /* 화면 바깥으로 밀어내기 위해 음수 마진 사용 */
overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 일부 브라우저 호환성 확보 */
  border: 0;
}

