@font-face {
  font-family: "GMarketSans";
  src: local('GMarketSans'),url("./GmarketSansLight.woff") format("woff");
  font-style: normal; 
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: local('GMarketSans'),url("./GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: local('GMarketSans'),url("./GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}